body{
    margin: 0;
    padding: 0;
    background-color:white;
}
.dark-mode {
    background-color: black;
}
.start-div {
    text-align: center;
    margin-top: 4vw; 
}

.mater{
  
    font-size: 3vw;
    color:black;
}
.dark-mode .mater{
    color: white;
}
.grid {
    
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5vw; 
    margin: 5vw auto;
    width: 31.6vw;
}
.imm{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline;
    cursor: pointer;
}

.bigcell {
    width: 10vw;
    height: 10vw; 
    border: 0.1vw solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: black;
    margin: auto auto;
    font-size: 7vw;
    align-items: center;
    justify-content: center;
}
.dark-mode .bigcell{
    border:0.1vw solid white ;
    color: white;
}
  

.smallcell {
    width: 3vw; 
    height: 3vw;
    border: 0.01px solid black; 
    margin: auto auto;
    color: black;
    display: flex;
  
    align-items: center;
    justify-content: center;
    font-size: 1.5vw; 
    cursor: pointer; 
}
.dark-mode .smallcell{
    border: 0.01px solid white; 
    color: white;   
}

.disable-click {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; 
    filter: blur(2px);
}
.winning-cell {
   
    background-color: lightblue;
    transition: transform 1s ease-in-out; 
    transform: scale(1.2);
}
.textbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}
p{
    display: block;
}
.buttons{
    display: flex;
    justify-content:space-evenly;
}
.btn {
    cursor: pointer;
    background-color: rgb(224, 216, 216);
    color: black;
}
.dark-mode .btn{
    background-color: rgb(35, 39, 39);
    color: white;
}
.room{
    display: none;
}
@media (max-width: 768px) {
    .btn{
        margin: 20vh auto;
    }
   .grid{
    margin: 20vw 1vw;
 
   }
   .mater{
    font-size: 9vw;
    margin-top: 10vh;
}
   .bigcell{
    width: 31vw;
    height: 31vw;
    font-size: 20vw; 
   
   }
   .smallcell{
    width: 10vw; 
    height: 10vw;
    font-size: 7vw;
    
   }
}
